<nav th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <a th:href="@{'/'}">Product list</a>
    <a th:href="@{'/shopping-cart'}">Shopping cart</a>
    <a th:href="@{'/product-form'}">Product form</a>
    <a th:href="@{'/admin-product-list'}">Admin product list</a>
    <a th:href="@{'/address'}">Address list</a>
    <a th:href="@{'/address-form'}">Address form</a>
    <a th:href="@{'/person'}">Person list</a>
    <a th:href="@{'/person-form'}">Person form</a>
    <a th:href="@{'/supplier'}">Supplier list</a>
    <a th:href="@{'/supplier-form'}">Supplier form</a>
</nav>