<head th:fragment="htmlHead" xmlns:th="http://www.thymeleaf.org">
    <title>Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigate.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/productDetailImage.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/productList.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoppingCart.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>