<nav th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">

    <ul>
        <li><a th:href="@{'/'}">Product list</a></li>
        <li><a th:href="@{'/shopping-cart'}">Shopping cart</a></li>
        <li><a th:href="@{'/product-form'}">Product form</a></li>
        <li><a th:href="@{'/address'}">Address</a></li>
        <li><a th:href="@{'/address-form'}">Address form</a></li>
        <li><a th:href="@{'/person'}">Person</a></li>
        <li><a th:href="@{'/person-form'}">Person form</a></li>
    </ul>
    <hr>

</nav>